engine-strict=true
@bogdannov:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${MY_FLOWERS_NPM_PUBLISH_TOKEN}
supported-architectures-os[]=linux
supported-architectures-os[]=darwin
supported-architectures-cpu[]=x64
supported-architectures-cpu[]=arm64
