name: Deploy main branch

on:
  push:
    branches: [main]

permissions:
  contents: read
  packages: read

jobs:
  tsc:
    runs-on: ubuntu-latest
    env:
      BRO_NPM_TOKEN: ${{ secrets.BRO_NPM_TOKEN }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '22'
          registry-url: 'https://npm.pkg.github.com'
          scope: '@brobrew'
      - run: npm whoami --registry=https://npm.pkg.github.com
      - run: npm view @brobrew/serverless@0.4.0 --registry=https://npm.pkg.github.com
      - run: npm ci
      - run: npm run tsc

  lint:
    runs-on: ubuntu-latest
    env:
      BRO_NPM_TOKEN: ${{ secrets.BRO_NPM_TOKEN }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '22'
          registry-url: 'https://npm.pkg.github.com'
          scope: '@brobrew'
      - run: npm ci
      - run: npm run lint

  deploy:
    needs: [tsc, lint]
    runs-on: ubuntu-latest
    environment: prod
    env:
      BRO_NPM_TOKEN: ${{ secrets.BRO_NPM_TOKEN }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '22'
          registry-url: 'https://npm.pkg.github.com'
          scope: '@brobrew'
      - run: npm ci
      - name: serverless deploy
        run: npm run prod:deploy
        env:
          SERVERLESS_ACCESS_KEY: ${{ secrets.SERVERLESS_ACCESS_KEY }}
